.visual-movie .youtube {
  width:100%;
  height:218px;
  display:block;
  position:absolute;
  top:0;
  left:0
}
.visual-movie .youtube:after {
  content:"";
  display:block;
  width:100%;
  height:100%;
  background-color:#fff;
  transition:all 300ms ease-in-out;
  opacity:0;
  position:absolute;
  top:0;
  left:0
}
.visual-movie .youtube:before {
  content:"";
  display:block;
  width:100%;
  height:100%;
  background:url(../img/movie_play.png) no-repeat center 74px;
  transition:all 300ms ease-in-out;
  opacity:1;
  position:absolute;
  top:0;
  left:0
}
.visual-movie .youtube:hover:after {
  opacity:0.3
}
.visual-movie .youtube:hover:before {
  opacity:0
}
.visual-movie img {
  width:100%
}
.menu__list-inner .time {
  line-height:20px
}
.contents {
  padding:51px 0 0
}
.contents .topic__add {
  line-height:20px;
  top:24px
}
.contents .topic__date {
  font-size:28px;
  font-weight:normal
}
.contents .topic__date strong {
  font-size:36px;
  font-weight:700
}
.contents .topic__heading {
  margin-top:0
}
#movie figcaption:before {
  content:none
}
#movie .time {
  line-height:20px
}
.block {
}
.block h1 {
  padding:17px 24px 23px;
  font-size:34px
}
.block h2 {
  padding:0 0 14px;
  font-weight:700
}
.block h3 {
  padding:3px 0 3px 11px
}
.block h4:before {
  top:2px
}
.block h4:after {
  top:12px
}
.block .box01 {
  padding:3px 19px 13px
}
.block .box02 dt {
  padding:8px 0 8px 14px
}
.block .attentionMark li,
.block p.attentionMark,
.block span.attentionMark {
  padding-left:0.4em;
  text-indent:-0.4em
}
.block .boxAttention {
  padding:15px 19px 15px
}
.block .boxAttention dt {
  margin:0 0 9px
}
.block .boxAttention li {
  padding-left:0.5em;
  text-indent:0;
  position:relative
}
.block .boxAttention li:before {
  content:"";
  display:inline-block;
  width:2px;
  height:2px;
  border-radius:50%;
  background:#ed0128;
  position:absolute;
  top:10px;
  left:0
}
.block .image li:before {
  top:11px
}
.block dt:before {
  top:7px
}
.block td,
.block th {
  padding:9px 15px
}
