

  /* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax-group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax-layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax-layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax-layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax-layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }


  .parallax-group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }


  /* styles
  --------------------------------------------- */

  body, html {
    overflow: hidden;
  }

  body {
    font: 100% / 1.5 Arial;
    background-color:rgb(226, 206, 192);
  }

  * {
    margin:0;
    padding:0;
  }

  .parallax {
    font-size: 200%;
  }

   /* center the content in the parallax layers */
  .title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }



  /* style the groups
  --------------------------------------------- */

  #group1 {
    z-index: 5; /* slide over group 2 */
  }
  #group1 .parallax-layer--base {
    background-image: url("img/bg/2021-12-19_14-39-41-754_Neneko_Kawaii.png");
  }

  #group2 {
    z-index: 3; /* slide under groups 1 and 3 */
  }

  #group2 .parallax-layer--back {
    background-image: url("img/bg/2022-02-21_03-37-12-649_Neneko_Kawaii.png");
  }

  #group3 {
    z-index: 4; /* slide over group 2 and 4 */
  }

  #group3 .parallax-layer--base {
    background-image: url("img/bg/SPOILER_5.19.22_A.png");
  }

  #group4 {
    z-index: 2; /* slide under group 3 and 5 */
  }

  #group4 .parallax-layer--deep {
    background-image: url("img/bg/SPOILER_5.19.22_C.png");
  }

  #group5 {
    z-index: 3; /* slide over group 4 and 6 */
  }

  #group5 .parallax-layer--base {
    background-image: url("img/bg/2022-07-07_17-13-59-194_Neneko_Wagashi.png");
  }

  #group6 {
    z-index: 2; /* slide under group 5 and 7 */
  }

  #group6 .parallax-layer--back {
    background-image: url("img/bg/unknown.png");
  }

  #group7 {
    z-index: 3; /* slide over group 7 */
  }
  
  #group7 .parallax-layer--base {
    background-image: url("img/bg/9nqljsg.jpg");
  }


  /* misc
  --------------------------------------------- */

  .parallax-group.pieces {
    width: 50%;
    margin-top: -100vh;
  }

  .pic1 {
    width: 20vw;
    transform: rotate(15deg);
    margin-left: -60vw;
    top: -10%;
  }

  .pic2 {
    width: 20vw;
    transform: rotate(-15deg);
    margin-left: 40vw;
    bottom: -10%;
  }

  .pic3 {
    width: 20vw;
    transform: rotate(15deg);
    margin-left: 40vw;
    top: -10%;
  }

  .pic4 {
    width: 20vw;
    transform: rotate(-15deg);
    margin-left: -60vw;
    bottom: -10%;
  }

  .parallax-layer.layer-1 {
    transform: translateZ(100px) scale(.71);
  }
  .parallax-layer.layer-2 {
    transform: translateZ(175px) scale(.5);
  }
  .parallax-layer.layer-3 {
    transform: translateZ(200px) scale(.5);
  }

  .background {
    display: flex;
    flex-direction: column-reverse;
  }

  .foreground img {
    position: absolute;
    left: 50%;
  }

  .foreground {
    width: calc(100% - var(--body-padding) * 2);
    height: 100%;
    position: absolute;
  }

 /* links
  ---------------------------------------------- */

  #bg1 {
    
  }
